<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
       
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Services We Offer <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Air Conditioning Service", "ACS", "Services", null, new { id = "item 1" })</li>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Air Conditioning Installation", "ACI", "Services", null, new { id = "item a" })</li>
                        </ul>
                        <li>@Html.ActionLink("Furance Services", "FS", "Services", null, new { id = "item 2" })</li>
                        <li>@Html.ActionLink("Heating System Services", "HSS", "Services", null, new { id = "item 3" })</li>
                        <li>@Html.ActionLink("Commerical HVAC Services", "CHS", "Services", null, new { id = "item 4" })</li>
                        <li>@Html.ActionLink("Indoor Air Quality", "IAQ", "Services", null, new { id = "item 5" })</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">About Us <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Financing", "Finance", "AboutUsInfo", null, new { id = "item 1" })</li>
                        <li>@Html.ActionLink("Reviews", "Reviews", "AboutUsInfo", null, new { id = "item 2" })</li>
                        <li>@Html.ActionLink("Galleries", "Galleries", "AboutUsInfo", null, new { id = "item 3" })</li>
                        <li>@Html.ActionLink("Our Commitment to WWP", "AboutUs", "Home", null, new { id = "item 4" })</li>
                        <li>@Html.ActionLink("Areas We Serve", "AWS", "AboutUsInfo", null, new { id = "item 5" })</li>
                </li>
            </ul>
            </li>
            <li>@Html.ActionLink("Texas Tips", "About", "Home")</li>
            <li>@Html.ActionLink("FAQ", "FAQX", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </div>
    </div>
</div>



